// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: fedra;
  src: url("/fedra.otf");
  /*src: url("fedra.otf") format("opentype");*/
}

body {
 font-family: fedra;
}